RBDB_SQL_CREATE_IDX	RCDATA "RBDB_SQL_CREATE_IDX.zip"
RBDB_SQL_CREATE_REIDX	RCDATA "RBDB_SQL_CREATE_REIDX.zip"
RBDB_SQL_CREATE_TABLES	RCDATA "RBDB_SQL_CREATE_TABLES.zip"
RBDB_SQL_CREATE_VIEW_AVR	RCDATA "RBDB_SQL_CREATE_VIEW_AVR.zip"
RBDB_SQL_DROP_VIEW_AVR	RCDATA "RBDB_SQL_DROP_VIEW_AVR.zip"
RBDB_SQL_FIX_DATA	RCDATA "RBDB_SQL_FIX_DATA.zip"
RBDB_SQL_INSERT_CODECS	RCDATA "RBDB_SQL_INSERT_CODECS.zip"
RBDB_SQL_INSERT_COUNTRIES	RCDATA "RBDB_SQL_INSERT_COUNTRIES.zip"
RBDB_SQL_INSERT_LANGUAGES	RCDATA "RBDB_SQL_INSERT_LANGUAGES.zip"
RBDB_SQL_INSERT_STATIONS	RCDATA "RBDB_SQL_INSERT_STATIONS.zip"
RBDB_SQL_INSERT_TAGS	RCDATA "RBDB_SQL_INSERT_TAGS.zip"
RBDB_SQL_LIST_VIEWS	RCDATA "RBDB_SQL_LIST_VIEWS.zip"
RBDB_SQL_SELECT_CATEGORY	RCDATA "RBDB_SQL_SELECT_CATEGORY.zip"
RBDB_SQL_SELECT_ROOT	RCDATA "RBDB_SQL_SELECT_ROOT.zip"
RBDB_SQL_SELECT_STATION	RCDATA "RBDB_SQL_SELECT_STATION.zip"
RBDB_SQL_SELECT_STATIONS	RCDATA "RBDB_SQL_SELECT_STATIONS.zip"
RBDB_SQL_VERSION	RCDATA "RBDB_SQL_VERSION.zip"